.content{
	width:100%;
	height: 27px;
	background:{color:#000;}
	position: fixed;
	bottom: 0;
	overflow:hidden;
	box-shadow: 0px 0px 5px 0px #000;
	.content_aside{
		background: {color:#fff;}
		position: absolute;
		width:283px;
		height:250px;
		left:-283px;
		.logo{
			width:74px;
			position: absolute;
			left:0;
			right:0;
			top:5px;
			margin:0 auto;
			opacity:0;
			svg{
				@extend .adjust;	
			}
		}
		.redes{
			opacity:0;
			position: absolute;
			left:0;
			right:0;
			bottom:0;
			margin:0 auto;
			ul{	
				list-style:none;
				margin: 0;
				padding: 0;
				@extend .text-center;
				li{
					width:37px;
					height: 37px;
					padding: 0;
					margin: 0 10px;
					font:{size:20px;}
					background: {color:#000;}
					@include border-top-radius(50%);
					@include border-bottom-radius(50%);
					@include border-left-radius(50%);
					@include border-right-radius(50%);
					display: inline-block;
					a{
						display: table;
						width:100%;
						height:100%;
						color:#fff;
						text:{decoration:none;}
						i{
							display: table-cell;
							vertical-align: middle;
						}	
					}
					&.social_fb{
						&:hover{
							background:{color:#3b5998;}
						}
					}
					&.social_tw{
						&:hover{
							background:{color:#00aced;}
						}
					}
					&.social_ig{
						&:hover{
							background:{color:#517fa4;}
						}
					}
				}
			}
		}
		.contacto{
			@extend .hide;
		}
	}

	.tab-content{
		display: none;
		&.current{
			display: inherit;
		}
	}

	.content_sites{
		position: absolute;
		left:310px;
		padding-top:50px;
		@extend .hide;
		h2{
			color:#fff;
			font: {family:$font_fjalla;size:12px;}
			text:{transform:uppercase;}
			margin: 0;
		}
		ul{
			margin: 0;
			padding: 0;
			float:left;
			list-style:none;
			li{
				color:#fff;
				font:{size:10px;family:$font_roboto;}
				a{
					color:red;
				}
			}

		}
	}
	#btn_open-close{
		.open{
			background: {color:#fff;}
			max-width:132px;
			height:27px;
			padding:3px 0 0 15px;
			cursor: pointer;
			svg{
				@extend .adjust;
				max-width:99px;
				max-height:20px;
			}
		}
		.close{
			position:absolute;
			cursor: pointer;
			top:0;
			right:0;
			background: {color:#fff;}
			font:{family:$font_roboto;}
			color:#000;
			@extend .hide;
			width:27px;
			height:27px;
			@extend .text-center;
			p{
				display: table;
				margin: 0;
				padding: 0;
				width:100%;
				height: 100%;
				span{
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
		.tabs{
			font:{size:10px;family:$font_roboto;}
			margin: 0px;
			padding: 0px;
			list-style: none;
			position: absolute;
			left:283px;
			top:0;
			li{
				background: none;
				color: #fff;
				display: inline-block;
				padding: 10px 15px;
				cursor: pointer;
				&.current{
					background: #fff;
					color: #000;
				}
			}
		}
	}
}